{% extends 'basePC.html' %}



{% load static %}

{%block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'gestionPanelControlAPP/img/UniNeuroLabfoto.jpg'  %}"  alt="" >
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">UniNeuroLab</span>
            <span class="section-heading-upper">Para el progreso de las Neurociencias y Neurotecnologias</span>
          </h2>
          <p class="mb-3">UniNeuroLab es el primer Laboratorio Universitario Virtual de la UNC, surge desde  la necesidad de la propia universidad por sostener sus funciones aun en contextos de aislamiento en epocas de pandemia.
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Por una Universidad Laica-Publica-Gratuita</span>
                <span class="section-heading-lower">Formando en Valores Reforma Universitaria 1918</span>
              </h2>
              <p class="mb-0">Más de 100 años de compromiso con la Docencia-Extension e Investigacion de la Universidad.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock%}
